<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<!--DESARROLLO LOCAL-->
		<!--<add name="ConexionBDD" connectionString="Data Source=PRESTACC20;Initial Catalog=Expert_Web;Persist Security Info=False;Pwd=Expert.2018;User ID=userweb"/>-->
		
		<!--PRODUCCION-->
		<add name="ConexionBDD" connectionString="Data Source=APPS;initial Catalog=Expert_Web_Demo;user id=userweb1;password=Expert.2018"/>
		
		<!--PRODUCCION EN BASE DEMO -->
		<!--<add name="ConexionBDD" connectionString="Data Source=APPS;Initial Catalog=Expert_Web_Demo;Persist Security Info=False;Pwd=expert;User ID=userweb"/>-->
		
	</connectionStrings>
	<appSettings>
		<add key="RutaArchivo" value="D:\subir\"/>
		
		<add key="Host" value="mail.prestasalud.com"/>
		<!--<add key="Host" value="smtp.office365.com" />-->
		<add key="Port" value="2525"/>
		<add key="EnableSSL" value="false"/>
		<add key="User" value="info@prestasalud.com"/>
		<add key="Pass" value="Info16presta"/>		
		
	</appSettings>
</configuration>
